$light: #f7f7f7;
$dark: #222121;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$red: #ec0b0e;
$gradientRed:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(176,118,18,1) 0%, rgba(195,104,19,1) 40%, rgba(210,19,19,1) 100%);
$darkRed: #81080a;