@import "navbar";
@import "tabs";
@import "carrousel";
:root {
  font-weight: 700;
  font-size: 62.5%; /* 10px */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: $light;
  font-size: 1.6rem;
}
/*Landing page styles*/
.hero {
  background-color: $light;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 80vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      width: 100%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color: $red;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $red;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--btn {
      font-size: 2rem;
      background-color: $red;
      padding: 2.5rem 6rem;
      border: none;
      border-radius: 4px;
      color: $light;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      transition: all 0.3s;
      outline: none;
    }

    &--btn a {
      position: relative;
      z-index: 2;
      color: $light;
      text-decoration: none;
      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--btn:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $dark;
      transition: all 0.3s;
      border-radius: 4px;
    }

    &--btn:hover:after {
      width: 100%;
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
}
/*Some adjusts for positioning*/
.human__title {
  color: rgb(9, 207, 9) !important;
}
.demon__title {
  color: red;
}
#boss {
  margin-top: 0.5rem;
}
#map, #trailer{
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
/*Trailer section*/
.trailer {
  @extend %align-center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
/*Arrow connector between sections*/
.arrow {
  @extend %align-center;
  justify-content: center;
  font-size: 10rem;
  text-decoration: none;
  margin: 0 auto;
  z-index: 9999;
  animation: bounce 2s ease infinite;
  color: $dark;
  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }
}
#background2 {
  background: #eeeded;
}
#bump {
  background: #eeeded;
}
footer {
  text-align: center;
  padding: 3rem;
}
