@import "navbar";
:root {
  font-weight: 700;
  font-size: 62.5%; /* 10px */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: $light;
  font-size: 1.6rem;
}
.hero {
  background-color: $light;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      width: 100%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color: $red;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $red;

      @include mobile {
        font-size: 2rem;
      }
    }

    &--left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--btn {
      font-size: 2rem;
      background-color: $red;
      padding: 2.5rem 6rem;
      border: none;
      border-radius: 4px;
      color: $light;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      transition: all 0.3s;
      outline: none;
    }

    &--btn a {
      position: relative;
      z-index: 2;
      color: $light;
      text-decoration: none;
    }

    &--btn:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $dark;
      transition: all 0.3s;
      border-radius: 4px;
    }

    &--btn:hover:after {
      width: 100%;
    }

    &--right {
      text-align: center;
    }

    &--img {
      height: 100%;
      width: 100%;
    }
  }
}
.character {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 4rem;
    color: $darkRed;
    margin-bottom: 1rem;
  }
  picture{
    margin: 2rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  }
  picture:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
  /*picture img {
    width: 50rem;
    height: 60rem;
  }*/
}
.map {
  display: flex;
  flex-direction: column;
  flex-shrink: inherit;
  gap: 0px;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 1rem;
}

@mixin clearfix {
  &:after {
    content:"";
    display:block;
    clear:both;
  }
}

$tab-label-height: 40px;
$tab-content-height: 150px;
.tab {
  float: left;
  
  &__group {
    @include clearfix;
    position: relative;
    height: $tab-label-height + $tab-content-height;
    width: 500px;
    margin: 0 auto;
    
  }
  
  &__label {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: $tab-label-height;
    cursor: pointer;
    
    // Active tab styles
    background: rgba(17, 1, 1, 0.397);
  }
  
  &__content {
    position: absolute;
    width: 100%;
    height: $tab-content-height;
    top: $tab-label-height;
    left: 0;
    right: 0;
    padding: 20px;
    overflow-x: auto;
    margin: 0 auto;
    background: $light;
  }
  
  &__radio {
    display: none;

    &:not(:checked) {
      // Inactive tab styles
      & ~ .tab__label {
        background: transparent;
      }
      & ~ .tab__label:hover{
        background: rgba(17, 1, 1, 0.644);;
      }
      & ~ .tab__content {
        display: none;
      }
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
}